<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  name="ActiTIME Automation Demo">
<listeners>  
        <listener class-name="com.actitime.ExtentReportListener.ExtentReportListener"> </listener>
        <listener class-name="com.actitime.ExtentReportListener.CustomizeReport"> </listener>
        <listener class-name="com.actitime.ExtentReportListener.TestListenersLogs"> </listener>
        <listener class-name="com.actitime.analyzer.AnalyzerTransformer"> </listener>
    </listeners>
  <test  name="ActiTIME Test Cases">
     <classes>
      <class name="com.actitime.testcases.TestCases"></class>
     

     </classes>
  </test> 
</suite> 